.about2-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about2-frame {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
