.about3-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about3-box {
  width: 500px;
  height: 500px;
  border-radius: 8px;
  background-color: #181818;
  overflow: hidden;
}
